header{
    background-color: black;
    color:azure


}
main{
    background-color: silver;
}
footer{
    background-color: black;
    color: azure;
}
#box{
    background-color: blue;
}
button{
    background-color: pink;
}